@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@500&display=swap');
body{
  color: var(--font2-color);
}
:root{
  --main-color:rgb(231, 240, 250);
  --secondary-color:#ffff;
  --font1-color:rgb(59, 59, 59);
  --font2-color:rgb(88, 88, 88);
}
h1,h2,h3,h4{
  color: var(--font1-color);
}
h1{
  font-size: 40px;
}

nav{
  border-bottom: 1px solid grey;
  color:rgb(71, 9, 112);
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
 
}
nav h3{
  font-family: 'Lobster';
}

ul{
  list-style-type: none;
  display: flex;
}
a{
  text-decoration: none;
  font-weight: 400;
  color: rgb(71, 9, 112);
}
li{
  margin-left: 40px;
  padding-top: 5px;
}
li:hover{
  color: rgb(88, 88, 189);
  border-bottom: 1px solid black;
  cursor: pointer;
}
.bars{
  display: none;
}
main{
  margin:  40px;
  height: 100vh;
  background-color: blue;
 }
.Cari{
   position: absolute;
   top: 15%;
   left: 20%;
   right: 20%;
   width: 60%;
   border-radius: 10px;
   background-color: white;
   border: 2px solid blue;
 }
.Cari input{
  padding: 10px;
  width: 90%;
  outline: none;
  border: none;
  height:fit-content;
  margin-left: 10px;
}
.cri{
  margin-left: 10px;
}

/* card */
.insp{
  width: 100%;
  padding: 30px;
}
.insp h3{
  text-align: center;
}
.card{
  width: 80%;
  /* border: 1px solid black;  */
  box-shadow: 0px 2px 1px 1px rgb(119, 118, 118);
}
.card img{
  width: 100%;
  height: 30vh;
}
.keterangan{
  font-size: 10px;
  padding: 0 10px 5px 10px;
  text-align: justify;
}
.btn{
  background-color: rgb(148, 148, 255);
  padding: 10px;
  width: 90%;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.btn a{
  text-decoration: none;
  color: black;
  font-weight: 900;
}
.gridx{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.kategori{
  /* background-image: url('./youssef-naddam-iJ2IG8ckCpA-unsplash.jpg'); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: antiquewhite;
  width: 100%;
  height: 30vh;
}
.kategori span{
  border-radius: 0 10px 10px 0;
  background-color: rgb(98, 75, 119);
  position: relative;
  top: 10%;
  padding: 3px 10px;
}
.wStory{
  text-align: center;
  padding: 20px 50px;
}
.wStory>.desc{
  font-size: 13px;
}
.bars{
  padding-top: 20px;
}main{
  width: 4999;
  height: 100vh;
}
@media(max-width:768px) {
  ul{
    display:none
  }
  .bars{
    display: block;
    cursor: pointer;
  }
  .bar-nav{
    display: block;
  }
}